.main
  .main__header
    .header-box
      .header-box__group-name
        = @group.name
      .header-box__group-list
        Member：
        %ul.user-name
          - @group.users.each do |user|
            %li= user.name
    = link_to "edit", edit_group_path(@group.id), class: "edit-btn" 
  .main__message-list
    .messages
      = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "text-form__input", placeholder: "type a message"
      .text-form
        = f.label :image, class: "text-form__icon" do
          = icon('fas','image')
          = f.file_field :image, class: "text-form__icon__file"
      = f.submit "Send", class: "send-button"