.side
  .side-header
    .header-box
      %p.header-box__user-name
        = current_user.name
      %ul.header-box__box-item
        = link_to new_group_path(current_user), class: "header-box__box-item__group-btn" do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user), class: "header-box__box-item__config-btn" do
          %i.fa.fa-cog

  .side-group-list
    - current_user.groups.each do |group|
      .side-group-list__box
        = link_to group_messages_path(group) do
          .side-group-list__box__name
            = group.name
          .side-group-list__box__comment
            = group.show_last_message
